<div class="container card">
    <div class="content">
        <div class="header">
            <h2>Registrar Procedimento</h2>

            <div class="procedimento">
                <div class="form-group">
                    <form [formGroup]="formProcedimento">
                        <div class="row">
                            <div class="col-3">
                                <label>CPF</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="cpf"
                                        mask="000.000.000-00" />
                                    <div class="input-group-addon">
                                        <i class="material-icons icon" style="cursor: pointer;"
                                            (click)="pesquisaCPF()">search</i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 offset-1">
                                <label>SUS</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="sus"
                                        mask="000 0000 0000 0000" />
                                    <div class="input-group-addon">
                                        <i class="material-icons icon" style="cursor: pointer;"
                                            (click)="pesquisaSUS()">search</i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 offset-1" *ngIf="paciente">
                                <div class="container" *ngIf="!pacienteSelecionado" style="cursor: pointer;"
                                    (click)="selecionarPaciente()">
                                    <div class="selecionar">
                                        Nome: {{paciente!.nome}} <br>
                                        CPF: {{paciente!.cpf | mask:'000.000.000-00'}} <br>
                                        SUS: {{paciente!.sus | mask:'000 0000 0000 0000'}}
                                    </div>
                                </div>
                                <div class="container" *ngIf="pacienteSelecionado"
                                    style="background-color: rgb(206, 206, 206);">
                                    <div class="selecionar">
                                        Nome: {{paciente!.nome}} <br>
                                        CPF: {{paciente!.cpf | mask:'000.000.000-00'}} <br>
                                        SUS: {{paciente!.sus | mask:'000 0000 0000 0000'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="pacienteSelecionado">
            <div class="row">
                <div class="col-8">
                    <h3>Historico de procedimentos</h3><br>
                    <div class="tabela">
                        <div class="tabela-cabecalho">
                            <div class="tabela-cabecalho-item">Exame</div>
                            <div class="tabela-cabecalho-item">Data</div>
                            <div class="tabela-cabecalho-item">Status</div>
                            <div class="tabela-cabecalho-item">Responsável</div>
                            <div class="tabela-cabecalho-item">Ações</div>
                        </div>
                        <div class="tabela-linha" *ngFor="let procedimentos of listaProcedimentosPaciente">
                            <div class="tabela-linha-item">{{procedimentos.nomeProcedimento}}</div>
                            <div class="tabela-linha-item">{{procedimentos.data}}</div>
                            <div class="tabela-linha-item">{{procedimentos.status}}</div>
                            <div class="tabela-linha-item">{{procedimentos.nome}}</div>
                            <div class="tabela-linha-item">
                                <i class="material-icons" *ngIf="testaData(procedimentos.data) === true">search</i>
                                <i class="material-icons" style="margin-right: 10px"
                                    *ngIf="testaData(procedimentos.data) === false">delete_outline</i>
                                <i class="material-icons" *ngIf="testaData(procedimentos.data) === false">done</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h3>Selecionar procedimento</h3><br>
                    <div class="tabela">
                        <div class="tabela-cabecalho">
                            <div class="tabela-cabecalho-item2">Escolher procedimento</div>
                        </div>

                        <div class="tabela-linha" *ngFor="let procedimentos of listaProcedimentos">
                            <div class="tabela-linha-item2">{{procedimentos.nome}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>