:host {
    .card {
        padding: 25px;

        h3 {
            margin-bottom: 20px;
        }
    }

    .tabela {
        box-shadow: 0 0 10px rgba(#1976d2, 0.3);

        .tabela-cabecalho {
            display: flex;
            align-items: center;
            background-color: #1976d2;
            padding: 14px 10px;
            color: white;
            border-radius: 5px 5px 0 0;

            .tabela-cabecalho-item {
                width: 16.6%;
                text-align: center;
                font-weight: 500;
            }

            .tabela-cabecalho-nenhum {
                width: 100%;
                text-align: center;
            }
        }

        .tabela-linha {
            display: flex;
            align-items: center;
            padding: 8px 10px;
            border: solid 1px #1976d2;
            border-top: none;

            &:last-of-type {
                border-radius: 0 0 5px 5px;
            }

            .tabela-linha-item {
                width: 16.6%;
                text-align: center;
            }
        }
    }
    
    .btn {
        margin-top: 20px;
    }
    
    .selecionar {
        margin: 13px;
        text-align: center;
    }
}